body{
    margin: 0;
    text-align: center;
    background-color: #49c0fc;
    font-size: 20px;
    height: 1000px;
}
.box{

    height: 500px;
    width: 500px;
    text-align: center;
}
.lives-left{
    height: 50px;
    font-size: 30px;
}
div{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 600px;
    text-align: center;
}
.left{
    display: inline-block;
    width: 28%;
}
.wrapper{
    

    text-align: center;
    width: 50%;
    height: 500px;
}
.right{
    display: inline-block;
    width: 20%;
}
table{
    width: 10px;
    height: 10px;
}


td{
    width:40px;
    height: 40px;
    background-color: #8dcb3a;
}
td:nth-of-type(2n){
    background-color: #a6d948;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}
h2{
    text-align: center;
}
.button-wrapper{
    text-align: center;
    height:60px;
    margin-bottom: 30px;

}
.restart-btn{
    font-size: 20px;
    margin: auto;

}

.level-buttons{
    font-size: 20px;
    padding: 20px;
    margin:0 20px 0 ;
}
.smiley-wrapper{
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
}

p{
    margin: 0;
    font-size: 30px;
}

.my-name{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    font-size: 40px;
    background-color: rgba(255, 228, 196, 0.52);

}