body{
    margin: 0;
height: 100vh;
font-family: 'Courier New', Courier, monospace;
}
.top-line{
    margin: 0;
    background-color: black;

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: bisque;
}
.main-section{
    display: flex;
    width: 100%;
    height: 100%;
    
}
.stopwatch{
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 0;
    margin-bottom:20px ;
}
.content{
    width: 60%;
    background-color:rgba(38, 206, 150, 0.253);
    display: flex;
   flex-direction: column;
    justify-content:start;
    align-items: center;
}
.table-main{
    background-color: #fec5bb25;
    image-orientation:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.extras{
    display: flex;  
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 30px;
    width: 40%;
    height: auto;
    background-color: rgba(165, 241, 235, 0.609);
}
.extras p{
    display: flex;
    justify-content: center;
    
    font-size: 70px;
    letter-spacing: 30px;
    height: 80px;
    margin: 0;

}

table{
    background-image: url(/imgs/yellow.gif);
    background-size: 600px;
    margin-top: 10%;
    background-repeat: no-repeat;
    
  
    text-align: center;
    width:600px;
    height: 600px;
}
td{
    border:1px solid rgb(189, 63, 63);
    font-size: 25px;
    height:40px ;
    width: 40px;
    transition: 200ms;
}
.levels-wrapper{
    margin-bottom: 30px;
    
}
span{
    margin: 0 90px 0;
    font-size: 25px;
}
.smiley-wrapper{
    margin-top:10px;
    font-size:30px;  
}
#smiley{
    font-size: 50px
}
.extra-buttons{
    margin-top: 30;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.extra-buttons button{
    padding: 15px 10px 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
    font-size: 20px;
    margin-top: 30px;
}

img{
    margin-top:5em;
    width: 400px;
    height:400px;
}
td:hover{
    background-color: #8974b9;
}

.td-cover{
    background-color: #fec5bb;
}

.form-wrapper button{
    font-size: 20px;
}


.score-wrapper{
    margin-top: 50px;
    font-size: 25px;
}

.my-name{
    font-size:70px;
}
div span{
    
    font-size:30px;
}
.levels{
    border:2px solid #c53a21;
    background-color: bisque;
    padding: 10px 20px 10px;
    border-radius: 30%;
}